body {
    background-image: url('../assets/bg.png');
    background-repeat: repeat;
    background-color: #ccc;
    color: #666;
}

/* HEADER ------------------------------------------------------------------- */

header {
    font-weight: bold;
}

header nav, header div, header ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header > nav {
    position: fixed;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.8);
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

header .title {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-right: 20px;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    margin-right: 10px;
}

footer {
    position: fixed;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.8);
    border-top: 1px solid #ccc;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 10px;
    text-align: right;
}

/* -------------------------------------------------------------------------- */
/* MAIN CONTAINER ----------------------------------------------------------- */

@media all and (min-width: 992px) {
    div[class$="container"] {
        width: 800px;
    }
}

@media all and (min-width: 480px) and (max-width: 992px) {
    div[class$="container"] {
        width: 70%;
    }
}

@media all and (max-width: 480px) {
    body {
        font-size: 12px;
    }
    h1, h2, h3 {
        font-size: 1.5em !important;
    }
    div[class$="container"] {
        width: 90%;
    }
}

div[class$="container"] {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 70px 10px 70px 10px;
    background-color: #eee;
    border: 1px solid #ccc;
}

div[class$="container"] > div {
    width: 100%;
}

div[class$="container"] > div:not(:last-child) {
    margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/* PICTURE CONTAINER -------------------------------------------------------- */

.picture-container > .picture-component > h2.title {
    font-size: 30px;
    margin-bottom: 10px;
}

/* GALLERY CONTAINER -------------------------------------------------------- */

.gallery-container > .picture-component > h2.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.gallery-container hr {
    margin: 20px 0 20px 0;
}

.gallery-container hr:last-of-type {
    display: none;
}

/* -------------------------------------------------------------------------- */
/* PICTURE  ----------------------------------------------------------------- */

.picture-component > h2.title {
    margin: 0;
}

img {
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.shadow {
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    position: relative;
    width: 100%;
    height: 100%;
}

.picture-component > .picture-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 5px;
}

.comments > .comment:not(:last-child) {
    margin-bottom: 20px;
}

.comment {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: auto;
}

.comment-text {
    background-color: white;
    padding: 10px 5px 10px 5px;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 6px;
}

.comment-text > i {
    color: inherit;
    font-size: 0.5em;
    opacity: 0.5;
    vertical-align: top;
}

.comment-text > p {
    width: auto;
    margin: 0 5px 0 5px;
}

.comment-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 18px;
    margin-left: 6px;
    color: gray;
    font-size: 0.8em;
}

.comment-info button {
    margin: 0;
    padding: 0;
    color: gray;
}

.add-comment textarea {
    width: 100%;
    height: 50px;
    /*padding: 10px;*/
    resize: none;
    overflow: auto;
}

.likes button, .likes form {
    display: inline;
    background-color: inherit;
    margin: 0;
    padding: 0;
    margin-left: -1px !important;
}

.likes button:hover {
    background-color: inherit;
    color: red;
}

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

.register input, .register button {
    width: 200px;
}

.register label {
    margin-top: 10px;
}

.register button {
    margin-top: 20px;
}

.register p {
    max-width: 200px;
    margin-top: 5px;
    font-size: 0.8em;
    color: #f14d4d;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

button {
    display: block;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #2186c4;
    color: white;
}

input:not([type="file"]) {
    padding: 0.5em 0.6em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus {
    outline: 0;
    border-color: #129FEA;
}

a:hover {
    color: #ccc;
}

figure {
    margin: 0;
}

hr {
    border-color: #ddd;
    width: 100%;
}

.alert-success, .alert-danger {
    opacity: 0.7;
    margin-top: 10px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: green;
}

.alert-danger {
    background-color: red;
}

*[draggable=true] {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}
