body {
    background-color: white;
    color: black;
}

/* HEADER ------------------------------------------------------------------- */

header {
    font-weight: bold;
}

header nav, header div, header ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header > nav {
    justify-content: space-between;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: gray;
    padding: 10px;
    border-bottom: solid black 1px;
}

header .title {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-right: 20px;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    margin-right: 10px;
}

/* -------------------------------------------------------------------------- */

/* MAIN CONTAINER ----------------------------------------------------------- */

.container {
    display: flex;
    flex-flow: column nowrap;
    max-width: 800px;
    margin: 0 auto;
    background-color: #eee;
    padding: 20px 20px 150px 20px;
}

.container h1 {
    text-transform: uppercase;
}

/* -------------------------------------------------------------------------- */


/* PICTURE CONTAINER -------------------------------------------------------- */

.picture-container {
    width: 640px;
    padding: 20px;
}

.picture-container > div {
    padding-bottom: 20px;
}

.picture-container h1 {
    font-size: 1.5em;
}

.picture-component > .title {
    font-size: 2em;
    text-transform: capitalize;
}

.picture-container figure {
    margin: 0;
    padding: 20px 0 20px 0;
}

.comment:not(:last-child) {
    padding-bottom: 10px;
}

.comments > h1 {
    padding-bottom: 10px;
}

.picture-info > span:not(:last-child)::after {
    content: ' - ';
}

.add-comment textarea {
    width: 100%;
    resize: none;
}


/* -------------------------------------------------------------------------- */


.register input, .register button {
    width: 200px;
}

.register label {
    margin-top: 10px;
}

.register button {
    margin-top: 20px;
}

.register p {
    max-width: 200px;
    margin-top: 5px;
    font-size: 0.8em;
    color: #f14d4d;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

button {
    display: block;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #2186c4;
    color: white;
}

input:not([type="file"]) {
    padding: 0.5em 0.6em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus {
    outline: 0;
    border-color: #129FEA;
}

a:hover {
    color: #ccc;
}

figure {
    margin: 0;
}

.alert-success, .alert-danger {
    opacity: 0.7;
    margin-top: 10px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: green;
}

.alert-danger {
    background-color: red;
}

*[draggable=true] {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}
